<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>
    <!-- header section  -->
    {{>navbar}}

    <!-- body section  -->
    <div class="body-content">
      <div class="container mt-5 mb-5">
        <div class="row px-0 mx-0">
          <div class="col-md-6 col-12 right text-center">
            <img src="images/group.png" height="250" width="300" alt="" />
          </div>
          <div class="col-md-6 col-12 left">
            <p>Welcome to weather app</p>
            <h2>
              I AM A
              <span class="text-info">FULL STACK DEVELOPER</span>
              AND STUDENT
            </h2>
            <a href="/weather"><button class="btn btn-info">
                About Me
                <i class="bi bi-chevron-right"></i></button></a>
          </div>
        </div>
      </div>
    </div>

    <!-- footer section -->
    {{>footer}}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    {{>footerLinks}}
  </body>
</html>